<!DOCTYPE html>
<html data-ng-app="MainWebApp" class="ng-scope">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!--<style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide{display:none !important;}ng\:form{display:block;}.ng-animate-start{border-spacing:1px 1px;-ms-zoom:1.0001;}.ng-animate-active{border-spacing:0px 0px;-ms-zoom:1;}</style>-->
    <title>Payza.com - My Account | Secure Online Payment</title>
    <meta content="money transfer, send money" name="Description"><link href="./index_files/css" rel="stylesheet" type="text/css">
    <script src="js/vendor/jquery-1.8.2.js"></script>
    <script src="js/vendor/angular-1.2.2/angular.js"></script>
    <script src="js/vendor/angular-1.2.2/angular-cookies.js"></script>
    <script src="js/vendor/angular-1.2.2/angular-route.js"></script>
    <script src="js/vendor/angular-1.2.2/angular-resource.js"></script>
    <script src="js/vendor/angular-1.2.2/angular-sanitize.js"></script>
    <script src="js/vendor/ui-bootstrap-0.10.0/ui-bootstrap-custom-0.10.0.js"></script>
    <script src="js/vendor/ui-bootstrap-0.10.0/ui-bootstrap-custom-tpls-0.10.0.js"></script>
    <script src="js/app/ui.js"></script>
    <script src="js/app/cedric.js"></script>
    <script src="js/app/modules/accountActivities.js"></script>
    <script src="js/app/pages/accountOverview.js"></script>
    <script src="js/app/modules/donutChart.js"></script>
    <script src="js/app/modules/questionnaireCheckout.js"></script>
    <script src="js/app/app.js"></script>
    <script src="js/app/project.js"></script>
    <script type="text/javascript">var baseUrl = "/Trunk/";</script>
    <link rel="stylesheet" type="text/css" href="css/application.css">
</head>
<body>
<div data-ng-controller="MainCtrl" style="width:600px;margin:0 auto;background-color:#fff;padding:30px">
<form name=testForm novalidate>
<h2 id="introductionSectionTitle" data-ng-class="{isvalid:info.isValidSection1,error:!info.actionWasSuccessful&&info.currentSection==1,expanded:info.currentSection==1,notexpanded:info.currentSection!=1}" data-ng-click="info.currentSection!=1&&saveForm('introductionSectionTitle')" data-ng-bind="resource.introductionSection.title"></h2>
<div class="form-group">
<div class='row'>
<div class=col-sm-12>
<label for="firstName" class="ng-binding"  data-ng-bind="resource.firstName.label"></label> <input type='text' class='form-control' data-ng-model="firstName" name="3" data-ng-pattern="/^[a-zA-Z]+$/" id="firstName" placeholder="{{resource.firstName.placeholder}}">
</div>
</div>
</div>
<div class="form-group">
<div class='row'>
<div class=col-sm-12>
<label for="firstName" class="ng-binding"  data-ng-bind="resource.customerAge.label"></label> <input type='text' class='form-control' data-ng-model="customerAge" name="5" data-ng-pattern="/^\d+$/" id="customerAge" placeholder="{{resource.customerAge.placeholder}}">
</div>
</div>
</div>
<div class="form-group">
<div class='row'>
<div class=col-sm-12>
<label for="firstName" class="ng-binding"  data-ng-bind="resource.customerEmail.label"></label> <input type='text' class='form-control' data-ng-model="customerEmail" name="7" data-ng-pattern="/^\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/" id="customerEmail" placeholder="{{resource.customerEmail.placeholder}}">
</div>
</div>
</div>
<div class="form-group">
<div class='row'>
<div class=col-sm-12>
       <a class='btn btn-info ng-binding' id='btnSubmitSignupForm' data-ng-click='submitData(signupForm.info)'>Save and continue</a>
        <a href='#' class='btn btn-link ng-binding' data-ng-click='hideElements()'>Cancel</a> 
</div>
</div>
</div>
</form>

</div>
</body>
</html>